/* Coolors Exported Palette - https://coolors.co/62a87c-8fb8de-2c497f-3d2b56-f24236 */

/* CSS HEX */
--shiny-shamrock: #62a87cff;
--aero: #8fb8deff;
--dark-cornflower-blue: #2c497fff;
--russian-violet: #3d2b56ff;
--cinnabar: #f24236ff;

/* CSS HSL */
--shiny-shamrock: hsla(142, 29%, 52%, 1);
--aero: hsla(209, 54%, 72%, 1);
--dark-cornflower-blue: hsla(219, 49%, 34%, 1);
--russian-violet: hsla(265, 33%, 25%, 1);
--cinnabar: hsla(4, 88%, 58%, 1);

/* SCSS HEX */
$shiny-shamrock: #62a87cff;
$aero: #8fb8deff;
$dark-cornflower-blue: #2c497fff;
$russian-violet: #3d2b56ff;
$cinnabar: #f24236ff;

/* SCSS HSL */
$shiny-shamrock: hsla(142, 29%, 52%, 1);
$aero: hsla(209, 54%, 72%, 1);
$dark-cornflower-blue: hsla(219, 49%, 34%, 1);
$russian-violet: hsla(265, 33%, 25%, 1);
$cinnabar: hsla(4, 88%, 58%, 1);

/* SCSS RGB */
$shiny-shamrock: rgba(98, 168, 124, 1);
$aero: rgba(143, 184, 222, 1);
$dark-cornflower-blue: rgba(44, 73, 127, 1);
$russian-violet: rgba(61, 43, 86, 1);
$cinnabar: rgba(242, 66, 54, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #62a87cff, #8fb8deff, #2c497fff, #3d2b56ff, #f24236ff);
$gradient-right: linear-gradient(90deg, #62a87cff, #8fb8deff, #2c497fff, #3d2b56ff, #f24236ff);
$gradient-bottom: linear-gradient(180deg, #62a87cff, #8fb8deff, #2c497fff, #3d2b56ff, #f24236ff);
$gradient-left: linear-gradient(270deg, #62a87cff, #8fb8deff, #2c497fff, #3d2b56ff, #f24236ff);
$gradient-top-right: linear-gradient(45deg, #62a87cff, #8fb8deff, #2c497fff, #3d2b56ff, #f24236ff);
$gradient-bottom-right: linear-gradient(135deg, #62a87cff, #8fb8deff, #2c497fff, #3d2b56ff, #f24236ff);
$gradient-top-left: linear-gradient(225deg, #62a87cff, #8fb8deff, #2c497fff, #3d2b56ff, #f24236ff);
$gradient-bottom-left: linear-gradient(315deg, #62a87cff, #8fb8deff, #2c497fff, #3d2b56ff, #f24236ff);
$gradient-radial: radial-gradient(#62a87cff, #8fb8deff, #2c497fff, #3d2b56ff, #f24236ff);